.App {
  text-align: center;
}

.targetImgStyle {
  background-color: #e8f4f8;
}

.details {
  text-align: left;
}

.borderSize {
  border-width: thick !important;
}

a.btn:hover img {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
